@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: rgb(0, 0, 0);
}

body {
  background-color: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* Custom cursor */

.flare {
  position: fixed;
  border: 0px solid #ffffff2b;
  border-radius: 100%;
  mix-blend-mode: difference;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 999999 !important ;
  backdrop-filter: blur(1px);
  background-color: #ffffff;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
   /* Let's hide the default cursor so it looks way better cursor: none !important; */
}

/* We need to remove this custom cursor in mobile devices */
@media screen and (max-width: 768px) {
  .flare {
    width: 0;
    height: 0;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out,
      opacity 0.2s ease-in-out;
  }
}
.flare.pointer {
  opacity: 0 !important;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out, opacity 0.2s ease-in-out;
}